#wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
}
[data-role='star'] {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}